<!-- <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" *ngIf="signUpForm">
  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email" required>

  <label for="password">Password:</label>
  <input type="password" id="password" formControlName="password" required>

  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" id="confirmPassword" formControlName="confirmPassword" required>

  <button type="submit">Sign Up</button>
</form> -->
